body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

.image-row {
    display: flex;
    justify-content: center;
}

.main-image {
    width: 100%;
    display: block; /* This ensures there's no extra space around the image */
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Center the thumbnails container */
}

.thumbnail {
    width: 32.3%; /* Each image takes up roughly a third of the container width */
    margin: 0 0.5%; /* Small margin for spacing */
    overflow: hidden; /* This will crop the images to fit the div */
}

.thumbnail-image {
    width: 100%;
    height: auto; /* Keep the original aspect ratio */
    display: block;
    transition: transform .3s ease; /* For a zoom effect on hover */
}

.thumbnail-image:hover {
    transform: scale(1.05); /* Zoom effect on hover */
}

/* Ensure thumbnails are square */
.thumbnail {
    position: relative;
    padding-top: 32.3%; /* Same as width to maintain aspect ratio */
}

.thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .thumbnails {
        flex-direction: column;
    }
    .thumbnail {
        width: 100%; /* Each thumbnail takes full width on smaller screens */
        padding-top: 100%; /* Adjust padding-top to maintain square shape */
    }
}
